h1{
    font-size:100;
    font-family:cursive, sans-serif;
    
}
h2{
    font-size:40;
    font-family:cursive, sans-serif;
    color:#6699ff;
    
    
}
h5{
    font-size:40;
    border-style:double;
    background:#cccccc;
    
}
p{
    font-size:20;
}
    


